<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Parallax-Effekte für Einkaufswelten</label>
    <label>Emotion elements with parallax effects</label>
    <version>1.2.2</version>
    <copyright>Copyright (c) 2021, Netzhirsch GbR</copyright>
    <license>proprietary</license>
    <link>https://www.netzhirsch.de</link>
    <author>Netzhirsch GbR</author>
    <compatibility minVersion="5.2.0" />
    
    <description lang="de">Mit diesem Plugin können Sie Einkaufswelten-Elemente mit Parallax-Effekten ganz einfach und ohne Vorkenntnisse erstellen. Über das Parallax-Banner lassen sich Überschrift, Beschreibungtext und eine Verlinkung einfügen. Position, Größe und Textausrichtung lassen sich schnell verändern.</description>
    <description >With this plugin you can create emotion elements with parallax effects without any previous knowledge. Above the parallax banner you can insert a headline, text and a hyperlink. Position, size and textalign are quickly changable.</description>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung des Plugins.</changes>
        <changes>Initial Release of the plugin.</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">Kompatibilität zu Shopware 5.5.0 hergestellt: ionCube-Verschlüsselung wurde entfernt.</changes>
        <changes>Compatibility with Shopware 5.5.0 made: ionCube encryption has been removed.</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Man kann nun optional Artikel auswählen, auf die man verlinken möchte.</changes>
        <changes>You can now optionally select items that you want to link to.</changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">Es kann ein zusätzlich ein Hintergrundbild für die Mobile Ansicht hochgeladen werden.</changes>
        <changes>An additional background image can be uploaded for the mobile view.</changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">Es können mehrere verschiedene Parallax-Bilder auf einer Seite eingebunden werden.</changes>
        <changes>Several different parallax images can be integrated on one page.</changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">Kompatibilität zu Shopware 5.7 hergestellt.</changes>
        <changes>Compatibility with Shopware 5.7 made.</changes>
    </changelog>

</plugin>
